<header>
    <nav class="purple">
        <a href="/" class="brand-logo center">
            <i class="material-icons">library_music</i><i class="material-icons">monochrome_photos</i>Trends 21
        </a>
    </nav>
</header>
<main class="container">
