<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Music Trends</title>
<!--Import Google Icon Font-->
<link href="/iconfont/material-icons.css" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
<link rel="icon" href="favicon-16x16.png" type="image/gif" sizes="16x16">

<style>

    header  { }
    body    { display: flex; min-height: 100vh; flex-direction: column; }
    main    { padding: 50px; flex: 1 0 auto; }
    input   { background-color:#FF00AA !important  }
    .card   { padding: 30px }

</style>
