<header>
    <nav class="purple">
        <a href="/" class="brand-logo center">
            <i class="material-icons">library_music</i>Music Trends
        </a>
    </nav>
</header>
<main class="container">
